footer.site-footer
  .container.wide
    .copyrights © 2017
      |
      |
      a(href='', target='_blank') Frontender
    .developer Developed by
      |
      |
      a(href='', target='_blank') Olzhas Kaliyev
