/*Articles*/

.article-card {
  margin-bottom: 2rem;
  .img-box {
    margin-bottom: .5rem;
    padding-top: 62.5%;
    border: solid 1px $divide;
    border-radius: .25rem;
  }
  .title {
    display: inline-block;
    margin-bottom: .5rem;
    font-family: $header-font;
    font-size: 1.25rem;
  }
  .description {
    font-size: .875rem;
  }
  .footer {
    margin-top: .5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .price {
    font-size: 1.25rem;
  }
}
