.content {
  padding: $regular-margin*3 0;
}

.article-card {
  margin-bottom: $regular-margin*2;
  .img-box {
    margin-bottom: $regular-margin;
    height: 230px;
  }
  .title {
    display: inline-block;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
  }
  .description {
    margin-bottom: $regular-margin;
  }
  .date {
    color: $secondary-text;
  }
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
