/*Components*/

.section {
  @media (min-width: $tablet) {
    padding-top: 2rem;
    padding-bottom: .5rem;
    border-top: solid 1px $divide;
  }
  &:first-of-type {
    @media (min-width: $tablet) {
      margin-top: .5rem;
    }
  }
}

.block {
  display: block;
  margin-bottom: 1rem;
  border-radius: .25rem;
  background-color: #fff;
  @media (min-width: $tablet) {
    margin-bottom: 1.5rem;
  }
  &.bordered {
    background-color: transparent;
    border: 1px solid $divide;
  }
}
