ul {
  margin: 0;
  padding: 0;
}

li {
  display: block;
}

p {
  margin-top: 0;
}

a {
  color: inherit;
  text-decoration: none;
  transition: color .2s;
  &:hover {
    color: $primary-color;
  }
  &:hover, &:active {
    outline-width: 0;
  }
}

hr {
  margin: 0;
  line-height: 0;
  height: 1px;
  border: none;
  color: $divide;
  background-color: $divide;
}

img {
  border: none;
  max-width: 100%;
}

[style*="background-image"] {
  display: block;
  position: relative;
  margin: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

a[style*="background-image"] {
  transition: filter .2s;
  &:hover, &:focus {
    outline: none;
    filter: brightness(110%);
    > img {
      filter: brightness(110%);
    }
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  td,
  th {
    padding: 0;
  }
}
