/*Fonts*/

/*Blade Runner*/

@font-face {
  font-family: 'Blade Runner';
  src: local('Blade Runner'),
  url('../fonts/BladeRunner.ttf') format('truetype');
  unicode-range: U+020-07F, U+410-44F; //Latin & Cyrillic scripts
}

/*Typography*/

b, strong {
  font-weight: bold;
}
