/*Footer*/

.site-footer {
  padding: 1.25rem;
  background-color: $grey-900;
  color: $white;
  font-size: .875rem;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  a {
    color: $primary-color;
    &:hover {
      color: $primary-lighter;
    }
  }
}
