/*Forms*/

input[type="text"],
input[type="search"],
input[type="email"],
input[type="number"],
input[type="date"],
input[type="datetime"],
select,
textarea {
  margin-bottom: .5rem;
  width: 100%;
  height: 2rem;
  outline: none;
  border: solid 1px $divide;
  padding-left: .5rem;
  padding-right: .5rem;
  border-radius: .25rem;
  transition: border-color .2s;
  &:focus {
    border-color: $primary-color;
  }
}

textarea,
select[multiple] {
  height: auto;
  padding-top: .5rem;
  padding-bottom: .5rem;
  resize: none;
}

input[type="checkbox"],
input[type="radio"] {
  display: none;
  + label {
    display: block;
    cursor: pointer;
    padding-left: 1.5rem;
    line-height: 1.25;
    position: relative;
    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 2px;
      width: 1rem;
      height: 1rem;
      border: solid 1px $grey-400;
      border-radius: 3px;
      background-color: $white;
    }
    &:after {
      content: '';
      display: block;
      position: absolute;
      left: 3px;
      top: 5px;
      width: .625rem;
      height: .625rem;
      border-radius: 2px;
      background-color: $primary-color;
      opacity: 0;
      transition: opacity .2s;
    }
  }
  &:checked + label {
    &:after {
      opacity: 1;
    }
  }
}

input[type="radio"] + label:before,
input[type="radio"] + label:after {
  border-radius: 50%;
}

input[type="file"] {
  display: none;
  + label {
    color: $primary-color;
    border-bottom: dashed 1px #99cbed;
    cursor: pointer;
    transition: all .2s;
    &:hover {
      color: $primary-color;
      border-bottom-color: #f6d7d7;
    }
  }
}

.button {
  display: inline-block;
  padding: 0 1.25rem;
  line-height: 2rem;
  outline: none;
  border: none;
  border-radius: .25rem;
  background-color: $primary-color;
  text-align: center;
  color: $white;
  font-size: .875rem;
  white-space: nowrap;
  cursor: pointer;
  transition: all .2s;
  .fa {
    margin-right: .5rem;
  }
  &:hover {
    background: $primary-lighter;
    color: $white;
  }
  &:active {
    background: $primary-darker;
  }
  &.disabled {
    background-color: $grey-300;
    color: $grey-text;
    cursor: default;
  }
  &.grey {
    background: $grey-500;
    &:hover {
      background: $grey-400;
    }
    &:active {
      background: $grey-600;
    }
  }
  &.white {
    background-color: $white;
    color: $primary-color;
    &:hover {
      background-color: $primary-color;
      color: $white;
    }
  }
}
