/*Header*/

.site-header {
  position: sticky;
  top: 0;
  z-index: 3;
  padding: 1rem;
  border-bottom: solid 1px $divide;
  background-color: $white;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    color: $brand-color;
    font-family: $display-font;
    font-size: 2rem;
    line-height: 1;
    &:hover {
      color: $brand-color;
    }
  }
}
