section {
  padding: 50px 0;
  .header {
    margin-bottom: 30px;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
  }
}

.slider {
  .slide {
    height: 400px;
    text-align: center;
    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
    }
    .header {
      margin-bottom: 30px;
      font-size: 48px;
      font-weight: bold;
    }
    .description {
      margin-bottom: 30px;
      max-width: 600px;
    }
  }
}
