/*Layout*/

/*Base*/
body {
  background-color: $light;
  color: $regular-text-color;
  font-family: $regular-font;
  font-size: $regular-font-size;
  line-height: $regular-line;
  -webkit-font-smoothing: antialiased;
}

.site-footer {
  margin-top: auto;
}
