/*Layout*/

/*Base*/
html {
  height: 100%;
  line-height: $regular-line;
}

body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 100%;
  color: $regular-text-color;
  font-family: $regular-font;
  font-size: $regular-font-size;
  line-height: $regular-line;
  -webkit-font-smoothing: antialiased;
}

.site-footer {
  margin-top: auto;
}
