/*Browser Upgrade*/

.browserupgrade {
  margin: 0;
  padding: 15px;
  background: $red;
  color: $light-text;
  text-align: center;
  a {
    font-weight: bold;
    text-decoration: underline;
    &:hover {
      color: inherit;
    }
  }
}
