/*Libraries*/

/*Slick Carousel*/

.slick-slide:focus {
  outline: none;
}

.slick-arrow {
  position: absolute;
  z-index: 2;
  top: 50%;
  margin-top: -1rem;
  width: 1rem;
  height: 2rem;
  background: url("../images/arrow.svg") no-repeat center;
  background-size: contain;
  cursor: pointer;
  opacity: .6;
  transition: opacity .2s;
  &:hover {
    opacity: 1;
  }
}

.slick-prev {
  left: 2rem;
  transform: rotate(180deg);
}

.slick-next {
  right: 2rem;
}

.slick-dots {
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: absolute;
  bottom: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
  li {
    float: left;
    display: block;
    margin: 0 .375rem;
    .slick-dot {
      display: block;
      width: .75rem;
      height: .75rem;
      border: solid 1px $brand-color;
      border-radius: 50%;
      cursor: pointer;
      transition: background-color .2s;
    }
    &.slick-active .slick-dot,
    &:hover .slick-dot {
      background-color: $brand-color;
    }
  }
}
