//Brand Colors
$primary-lighter: $pink-400;
$primary-color: $pink;
$primary-darker: $pink-600;

//Default Colors
$dark-text: $grey-900;
$grey-text: $grey-600;
$divide: $grey-300;

//Fonts
$regular-text-color: $dark-text;
$regular-font: 'Roboto', sans-serif;
$header-font: 'Roboto Slab', serif;
$display-font: 'Blade Runner', serif;
$regular-font-size: 1rem;
$regular-line: 1.4;
$header-line: 1.1;
$paragraph-line: 1.5;
