<footer>
    <div class="container fluid">
        <div class="copurights">© 2017 <a href="" target="_blank">Frontender</a></div>
        <div class="developer">Developed by <a href="" target="_blank">Olzhas Kaliyev</a></div>
    </div>
</footer>
<!-- build:js scripts/libraries.min.js -->
<!-- bower:js -->
<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="/bower_components/slick-carousel/slick/slick.min.js"></script>
<!-- endbower -->
<!-- endbuild -->
<!-- build:js scripts/main.min.js -->
<script src="scripts/main.js"></script>
<!-- endbuild -->
</body>
</html>
