<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Frontender</title>
    <!-- build:css styles/libraries.min.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css styles/main.min.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
</head>
<body>
<!--[if lt IE 10]>
<p class="browserupgrade">Вы используете <strong>устаревший</strong> браузер. Пожалуйста,
    <a href="http://browsehappy.com/" target="_blank">обновите ваш браузер</a>, чтобы улучшить совместимость</p>
<![endif]-->
<header>
    <div class="container fluid">
        <a href="" class="logo">Frontender</a>
        <nav>
            <a href="">Главная</a>
            <a href="">Каталог</a>
            <a href="">Контакты</a>
        </nav>
    </div>
</header>
