<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimal-scale=1, maximal-scale=1, user-scalable=no">
	<title>template</title>
	<!-- build:css styles/vendors.min.css -->
	<!-- bower:css -->
	<!-- endbower -->
	<!-- endbuild -->
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<!-- build:css styles/styles.min.css -->
	<link rel="stylesheet" href="styles/main.css">
	<!-- endbuild -->
</head>
<body>
<!--[if lt IE 10]>
<p class="browserupgrade">Вы используете <strong>устаревший</strong> браузер. Пожалуйста,
	<a href="http://browsehappy.com/" target="_blank">обновите ваш браузер</a>, чтобы улучшить совместимость</p>
<![endif]-->
<header>
	<div class="container">
		<a href="/" class="logo">
			<img src="images/logo.svg" alt="">
		</a>
		<nav>
			<ul>
				<li><a href=""></a></li>
				<li><a href=""></a></li>
				<li><a href=""></a></li>
			</ul>
		</nav>
		<div class="login-box">

		</div>
	</div>
</header>
