@@include('header.html')
<div class="slider">
    @@for (var i = 0; i < 3; i++) {
    <div class="slide img-box" style="background-image: url('images/1920x1200.jpg')">
        <div class="container">
            <div class="header">Frontender 2017</div>
            <div class="description">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam at commodi dignissimos, doloribus ea eum ex explicabo facere itaque labore omnis praesentium qui quia quisquam rem repellat, sed, veritatis vero!
            </div>
            <a href="" class="button">Details</a>
        </div>
    </div>
    }
</div>
<section class="bestsellers">
    <div class="container">
        <div class="header">Бестселлеры</div>
        <div class="row">
            @@for (var i = 0; i < 6; i++) {
            <div class="col-md-4">
                <div class="article-card">
                    <a href="" class="img-box" style="background-image: url('images/400x240.jpg')"></a>
                    <a href="" class="title">Lorem ipsum dolor</a>
                    <div class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                    <a href="" class="details button">Details</a>
                </div>
            </div>
            }
        </div>
        <a href="" class="more button">More</a>
    </div>
</section>
@@include('footer.html')
